.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}
.App-header ul{
    list-style-type: none;
    display: inline-flex;
}

.App-header li{
  padding-right: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-container{
  min-height: 100vh;
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}
.App-ImageSlider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.carousel{
  width: 100%;
  height: 50vh;
}
.carousel img{
  image-orientation: from-image;
  width: 80%;
  max-width: 80%;
  height: auto;
}
.App-AppBodyContent{

}
.polaroid {
  display: inline-flex;
  padding: 15px;
  margin: 50px;
  width: 17%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.polaroid img{
  width: 200px;
  height: 200px;;
  image-orientation: from-image;
}

.App-footer{
  height: 4vh;
  padding: 5px;
  font-size: 12px;
  line-height: 1.33341;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  background-color: #f2f2f2;
  color: #333;
}
